.TeamBigBox .backGround {
  background-image: url(../../assets/BackGround.png);
  height: 350px;
  padding-top: 32px;
  box-sizing: border-box;
}
.TeamBigBox .backGround .Auto {
  margin: auto;
  width: 750px;
}
.TeamBigBox .backGround .Auto .Title {
  height: 60px;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Manrope';
  text-align: center;
  line-height: 60px;
  margin-bottom: 41px;
}
.TeamBigBox .backGround .Auto .SearchIcon {
  background-color: #fff;
  border-radius: 4px;
}
.TeamBigBox .backGround .Auto .SearchIcon .css-1nylpq2 {
  width: 750px;
  padding: 16px;
  box-sizing: border-box;
  height: 4.2rem;
}
.TeamBigBox .backGround .Auto .SearchIcon .css-oe0os1-MuiSvgIcon-root {
  margin-right: 12px;
  margin-bottom: 3px;
  width: 26px;
  height: 26px;
}
.TeamBigBox .backGround .Auto .SearchIcon .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  color: #84818a;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: left;
}
.TeamBigBox .backGround .Auto .PopularBox {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: center;
  margin-top: 32px;
}
.TeamBigBox .figureOutBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}
.TeamBigBox .figureOutBox .figureOut {
  width: 750px;
  height: 169px;
  border-radius: 4px;
  opacity: 1;
  border: 1px solid #ebeaed;
  background: #ffffff;
  display: flex;
  padding: 20px 24px;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.TeamBigBox .figureOutBox .figureOut .iconBox {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  opacity: 1;
  background: rgba(85, 66, 246, 0.1);
  margin-right: 20px;
}
.TeamBigBox .figureOutBox .figureOut .iconBox .icon {
  width: 3.5rem;
  height: 24px;
  color: #761fde;
  margin: 12px 12px;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .title {
  color: #2e2c34;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Manrope';
  text-align: left;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .content {
  width: 642px;
  color: #84818a;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: left;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 10px;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox .TotalBox {
  display: flex;
  align-items: center;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox .TotalBox .Total {
  margin-right: 12px;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox .TotalBox .Total img {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid #010101;
  margin-left: -10px;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox .TotalBox .Written .By {
  color: #84818a;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: left;
  line-height: 18px;
  margin-right: 4px;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox .TotalBox .Written span {
  color: #2e2c34;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: left;
  line-height: 18px;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox .articles {
  color: #84818a;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: right;
  line-height: 18px;
}
