.TeamBigBox .backGround {
  background-image: url(../../assets/BackGround.png);
  height: 350px;
  padding-top: 32px;
  box-sizing: border-box;
}
.TeamBigBox .backGround .Auto {
  margin: auto;
  width: 750px;
}
.TeamBigBox .backGround .Auto .Title {
  height: 60px;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Manrope';
  text-align: center;
  line-height: 60px;
  margin-bottom: 41px;
}
.TeamBigBox .backGround .Auto .SearchIcon {
  border-radius: 4px;
}
.TeamBigBox .backGround .Auto .SearchIcon form {
  width: 100%;
}
.TeamBigBox .backGround .Auto .PopularBox {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: center;
  margin-top: 32px;
}
.TeamBigBox .figureOutBox {
  margin-top: 30px;
  padding: 0 600px;
  margin-bottom: 40px;
}
.TeamBigBox .figureOutBox .figureTitle {
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  width: 100%;
}
.TeamBigBox .figureOutBox .noticeBox {
  display: flex;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
  background: #fff;
  margin-top: 20px;
  border-radius: 5px;
}
.TeamBigBox .figureOutBox .noticeBox .Img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 24px;
}
.TeamBigBox .figureOutBox .noticeBox .Img img {
  width: 100%;
  height: 100%;
}
.TeamBigBox .figureOutBox .noticeBox .contentBox {
  width: 654px;
}
.TeamBigBox .figureOutBox .noticeBox .contentBox .nameAndTime {
  display: flex;
  justify-content: space-between;
}
.TeamBigBox .figureOutBox .noticeBox .contentBox .nameAndTime .Name {
  color: #2e2c34;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Manrope';
  text-align: left;
}
.TeamBigBox .figureOutBox .noticeBox .contentBox .nameAndTime .Time {
  color: #84818a;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: right;
  line-height: 18px;
}
.TeamBigBox .figureOutBox .noticeBox .contentBox .content {
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.TeamBigBox .figureOutBox .noticeBox .contentBox .content .noticeContent {
  color: #84818a;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: left;
}
.TeamBigBox .figureOutBox .noticeBox .contentBox .content .Source {
  display: flex;
  align-items: center;
}
.TeamBigBox .figureOutBox .noticeBox .contentBox .content .Source .Icon {
  width: 16px;
  height: 16px;
  color: #761fde;
}
.TeamBigBox .figureOutBox .noticeBox .contentBox .content .Source span {
  color: #2e2c34;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: left;
  line-height: 20px;
}
.TeamBigBox .figureOutBox .figureOut {
  width: 750px;
  border-radius: 4px;
  opacity: 1;
  border: 1px solid #ebeaed;
  background: #ffffff;
  display: flex;
  padding: 20px 24px;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.TeamBigBox .figureOutBox .figureOut .iconBox img {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  opacity: 1;
  margin-right: 20px;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .title {
  color: #2e2c34;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Manrope';
  text-align: left;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .content {
  color: #84818a;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: left;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 10px;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox .TotalBox {
  display: flex;
  align-items: center;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox .TotalBox .Total {
  margin-right: 12px;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox .TotalBox .Total img {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid #010101;
  margin-left: -10px;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox .TotalBox .Written .By {
  color: #84818a;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: left;
  line-height: 18px;
  margin-right: 4px;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox .TotalBox .Written span {
  color: #2e2c34;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: left;
  line-height: 18px;
}
.TeamBigBox .figureOutBox .figureOut .contentBox .articlesBigBox .articles {
  color: #84818a;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Manrope';
  text-align: right;
  line-height: 18px;
}
.searchBtn {
  margin-left: 10px;
}
